body {
    background: #cfd2c6;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Clash Display", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1;
    color: #515643;
}

button {
    cursor: pointer;
}

section {
    padding-top: 80px;
    max-width: 1920px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Header */
.header-section {
    max-width: 1920px;
    padding: 40px 80px;
    margin: 0 auto;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
}

.header-item-list {
    display: flex;
    gap: 40px;
}

.header-item-two-list {
    display: flex;
    gap: 40px;
}

.header-item-link a {
    color: #515643;
   text-decoration: none;
   padding: 0.5rem 1rem;
   border-radius: 1rem;
   transition: all 0.3s ease;
   position: relative;
   font-weight: 400;
   display: inline-block;
   transform: translateY(0);
}

.header-item-link a:hover,
.header-item-link a:focus {
   color: #ffffff;
   background-color: #7f8670;
   box-shadow: 0 0 8px rgba(81, 86, 67, 0.3);
   transform: translateY(-2px);
}

.header-item-link a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 50%;
  bottom: 0;
  background-color: #515643;
  transition: width 0.3s ease, left 0.3s ease;
}

.header-item-link a:hover::after,
.header-item-link a:focus::after {
  width: 100%;
  left: 0;
}


.header-logo {
    font-weight: 900;
    font-size: 32px;
    color: #515643;
}

/* Hero */
.hero {
    height: 931px;
    background-image: url(../img/Full-background.1x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title {
    width: 900px;
    padding-top: 280px;
    padding-left: 79px;
    font-weight: 700;
    font-size: 80px;
    line-height: 1.2;
    color: #cfd2c6;
    text-align: left;

}

/* About */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 467px;
    margin-bottom: 121px;


}

.about-text {
    width: 570px;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #515643;
}

.swiper-button-prev svg,
.swiper-button-next svg {
    fill: #fff;
    transition: fill 0.3s ease
}

.swiper-wrapper {
    overflow: visible !important;
}

.swiper {
    position: relative;
    overflow: visible !important;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    font-size: 10px;
    top: 50%;
    background: #cfd2c6;
    transform: translateY(-50%);
    border: 1px solid #36392d ;
    width: 64px !important;
    height: 64px !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
}
.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 16px !important;
    color: #515643!important;
}

.swiper-button-prev {
    left: 16px !important;
}

.swiper-button-next {
    right: 16px !important;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-text {
    max-width: 570px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #36392d;
}

.menu-list {
    display: flex;
    gap: 38px;
}

.menu-list-item {
    border: 1px solid #878f70;
    border-radius: 16px;
    padding: 16px 40px;
    width: 158px;
    height: 48px;


}

.menu-list-text {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #36392d;
}

.menu-photo {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.menu-photo-item {}

.menu-name {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #36392d;

}

.menu-price {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #36392d;

}
/* Drinks menu */
.drinks-menu {
    display: flex;
    justify-content: center;
    padding-left: 229px;
    padding-right: 229px;
}
.drinks-name {
    font-family: "Clash Display", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #36392d;

}
.drinks-topics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 322px;
    margin-top: 120px;
    height: 432px;
}
.topics-name {
    font-weight: 700;
    font-size: 64px;
    line-height: 1;
    color: #9fa68c;

    border-bottom: 1px solid #9fa68c;
    padding: 40px 0px;
    width: 570px;
    height: 144px;

}
.topics-name:hover {
    color: #36392d;
}

/* Our Team*/
.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.team-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 299px;
    padding-bottom: 184px;
    
    
}
.team-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #36392d;
}
.team-list {
    display: flex;
    padding: 0 144px;
    gap: 40px;
}
.team-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 378px;
}
.team-list-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #36392d;

}
.team-info {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    color: #36392d; 
}

/* Events */
.events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1760px;
    height: 1442px;
}
.events-title {
    padding-left: 229px;
}
.events-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.events-item {
    width: calc((100% - 24px) / 2);
}
.events-item {
  position: relative;
  overflow: hidden;
}

.events-item img {
  display: block;
  width: 100%;
}

.events-item .overlay {
  position: absolute;
  inset: 0;
  background: rgba(149, 157, 123, 0.8);
  color: white;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.events-item:hover .overlay {
  opacity: 1;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: 309px;
    margin: 0 auto;
    padding: 80px  80px 0 80px;
    box-sizing: border-box;
}
.footer-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.footer-list-item a {
    font-weight: 400;
    font-size: 18px;
    color: #36392d;
    padding: 0.5rem 0.75rem;
    transition: all 0.3s ease;
    position: relative;
    border-radius: 0.75rem;
    display: inline-block;
    text-decoration: none;
}

.footer-list-item a:hover,
.footer-list-item a:focus {
  background-color: #d8dace;
  color: #7f8670;
  
}

.footer-list-item a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 50%;
  bottom: 0;
  background-color: #7f8670;
  transition: width 0.3s ease, left 0.3s ease;
}

.footer-list-item a:hover::after,
.footer-list-item a:focus::after {
  width: 100%;
  left: 0;
}
.footer-title {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    color: #36392d;
    
}
.footer-social {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
}
.footer-icon {
    fill:#36392d;
}
.footer-forma {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-text {
    font-weight: 400;
    font-size: 18px;
    color: #36392d;
}
.footer-input {
    border: none;
    border-bottom: 1px solid #878f70; 
    padding: 10px;
    width: 199px;
    font-size: 16px;
    color: #36392d; 
    background-color: transparent;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.footer-input::placeholder {
    color: #9fa68c; 
}
.footer-input:hover {
    border-color: #515643; 
}

.footer-input:focus {
    outline: none;
    border-color: #515643;
    box-shadow: 0 2px 0 0 #9fa68c; 
}

.footer-button {
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #36392d;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    color: #cfd2c6;
    
}
.footer-button:hover {
    background-color:#36392d; 
    transform: scale(1.05); 
}

.footer-button:focus {
    background-color:#515643; 
    box-shadow:  0 0 0 3px rgba(143, 150, 120, 0.5);
    border-color: #9fa68c;
}