body {
    background: #cfd2c6;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Clash Display", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1;
    color: #515643;
}

button {
    cursor: pointer;
}

section {
    padding-top: 80px;
    max-width: 1920px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* Header */
.header-section {
    max-width: 1920px;
    padding: 40px 80px;
    margin: 0 auto;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
}

.header-item-list {
    display: flex;
    gap: 40px;
}

.header-item-two-list {
    display: flex;
    gap: 40px;
}

.header-item-link {
    font-weight: 400;
    font-size: 18px;
    color: #515643;
}

.header-logo {
    font-weight: 900;
    font-size: 32px;
    color: #515643;
}

/* Hero */
.hero {
    height: 931px;
    background-image: url(../img/Full-background.1x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title {
    width: 900px;
    padding-top: 280px;
    padding-left: 79px;
    font-weight: 700;
    font-size: 80px;
    line-height: 1.2;
    color: #cfd2c6;
    text-align: left;

}

/* About */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 467px;
    margin-bottom: 121px;


}

.about-text {
    width: 570px;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #515643;
}

.swiper-button-prev svg,
.swiper-button-next svg {
    fill: #36392d;
}

.swiper-wrapper {
    overflow: visible !important;
}

.swiper {
    position: relative;
    overflow: visible !important;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    font-size: 10px;
    top: -10% !important;
    background: #cfd2c6;
    transform: translateY(-50%);
    border: 1px solid #36392d !important;
    width: 64px !important;
    height: 64px !important;
    border-radius: 50% !important;
}

.swiper-button-prev {
    left: 16px !important;
}

.swiper-button-next {
    right: 16px !important;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-text {
    max-width: 570px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #36392d;
}

.menu-list {
    display: flex;
    gap: 38px;
}

.menu-list-item {
    border: 1px solid #878f70;
    border-radius: 16px;
    padding: 16px 40px;
    width: 158px;
    height: 48px;


}

.menu-list-text {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #36392d;
}

.menu-photo {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.menu-photo-item {}

.menu-name {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #36392d;

}

.menu-price {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #36392d;

}